[submodule ".emacs.d/ext-packages/tern"]
	path = .emacs.d/ext-packages/tern
	url = git@github.com:ternjs/tern.git
[submodule ".emacs.d/ext-packages/use-package"]
	path = .emacs.d/ext-packages/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule ".emacs.d/ext-packages/xah-fly-keys"]
	path = .emacs.d/ext-packages/xah-fly-keys
	url = git@github.com:xahlee/xah-fly-keys.git
[submodule ".emacs.d/ext-packages/copilot.el"]
	path = .emacs.d/ext-packages/copilot.el
	url = git@github.com:zerolfx/copilot.el.git
[submodule ".emacs.d/ext-packages/yasnippet-snippets"]
	path = .emacs.d/ext-packages/yasnippet-snippets
	url = git@github.com:mavbozo/yasnippet-snippets.git
[submodule ".emacs.d/ext-packages/clay.el"]
	path = .emacs.d/ext-packages/clay.el
	url = git@github.com:scicloj/clay.el.git
[submodule ".emacs.d/ext-packages/chatgpt-shell"]
	path = .emacs.d/ext-packages/chatgpt-shell
	url = git@github.com:mavbozo/chatgpt-shell.git
[submodule ".emacs.d/ext-packages/claude-shell"]
	path = .emacs.d/ext-packages/claude-shell
	url = git@github.com:mavbozo/claude-shell.git
